:host {
  .container{
    padding: 20px 0px;
    max-width: 1280px;
    margin: auto;
    .logo{
      width: 100%;
      text-align: center;
      img{ 
        width:200px;
      }
    }
    form{
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      ::ng-deep mat-form-field{
        width: 100%;
      }
    }
  }
}
